<%- include('../partials/head.ejs')%>
  <div class="container">
  <%- include('../partials/nav.ejs') -%>
     <nav style="margin-top:36px;margin-bottom:36px">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
            <h1 class="title">Dashboard</h1>
        </div>
      </div>
      
      <div class="level-right">     
      
    
      </div>
    </div>
  </nav>
 
 <div class="columns">
  <div class="column is-3">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-1"><%= viewData.products.length %></h1>
        <h2 class="subtitle is-6" style="text-transform:uppercase">Products</h2>
      </div>  <!-- end of card content -->  
    </div> <!-- end of card -->
  </div> <!-- end of column is-3 -->  

  <div class="column is-3">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-1"><%= viewData.totalInventory %></h1>
        <h2 class="subtitle is-6" style="text-transform:uppercase">Total items in Stock</h2>
      </div>  <!-- end of card content -->  
    </div> <!-- end of card -->
  </div> <!-- end of column is-3 -->

 </div> <!-- end of columns -->