<%- include('../partials/head.ejs') %>
  <div class="container">
  <%- include('../partials/nav.ejs')%>
    <div style="width:380px;height:400px;margin:20px auto">
    <% if(viewData.outcome.success == true){%>
    <div class="notification">      
      <%= viewData.outcome.message %>
    </div>
    <% } %>
    <h1 class="title">New Product</h1>
    
    <form action="/products" method="post" id="createProduct">
      <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" 
               type="text" 
               placeholder="e.g. Soap" 
               name="title" onblur="validateField(event)">
      </div>
      <p class="help" style="font-size:16px;display:none" id="title-error">        
      </p>
    </div>

    <div class="field">
      <label class="label">Cost Price</label>
      <div class="control">
        <input class="input is-sm" 
               type="text" 
               placeholder="e.g. 100" 
               name="costPrice" onblur="validateField(event)">
      </div>
      <p class="help" style="font-size:16px;display:none" id="costPrice-error"> 
    </div>

    <div class="field">
      <label class="label">Size</label>
      <div class="control">
        <input class="input is-sm" type="text" placeholder="e.g. 20oz" 
        name="size" onblur="validateField(event)">
      </div>
      <p class="help" style="font-size:16px;display:none" id="size-error"> 
    </div>

    <div class="field">
      <label class="label">Quantity</label>
      <div class="control">
        <input class="input is-sm" type="text" name="quantity" 
        placeholder="e.g. 20" onblur="validateField(event)">
      </div>
      <p class="help" style="font-size:16px;display:none" id="quantity-error"> 
    </div>

    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <button class="button"
                onclick="validateForm(event)" 
                style="background-color:#216583;color:#ffffff;font-size:17px">Save
        </button>
      </div>
      <div class="control">
        <a href="/products" class="button is-text">Cancel</a>
      </div>
    </div>
    </div>
  </div>
   
  </body>
</html>